@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8nb697');
  src:  url('fonts/icomoon.eot?8nb697#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8nb697') format('truetype'),
    url('fonts/icomoon.woff?8nb697') format('woff'),
    url('fonts/icomoon.svg?8nb697#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-th-menu:before {
  content: "\e900";
}
.icon-arrow-up-circle:before {
  content: "\e906";
}
.icon-github1:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e902";
}
.icon-phone1:before {
  content: "\e903";
}
.icon-send:before {
  content: "\e904";
}
.icon-lines:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e942";
}
.icon-mail:before {
  content: "\ea86";
}
.icon-github:before {
  content: "\eab0";
}
